<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT links ANY>
<!ATTLIST links id ID #REQUIRED>
<!ELEMENT componentFolder ANY>
<!ATTLIST componentFolder id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1057" key="e1fdddb9-2aa0-403a-ace6-8a8f53e58aad" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-11T15:48:30" updateDate="2016-12-11T16:15:10" nodeName="Home" urlName="home" path="-1,1057" isDoc="" nodeType="1048" creatorName="Admin" writerName="Admin" writerID="0" template="1047" nodeTypeAlias="home">
    <text><![CDATA[<p>Rosenholm Jagtforening er en jagtforening i Syddjurs kommune, der dækker den gamle Rosenholm kommune og med i Jægerråd Syddjurs. <br /><br />Rosenholm Jagtforening har skydebane i Falkær ved Mørke.</p>
<p>Af det årlige kontingent til Danmarks Jægerforbund, går 75 kr til Rosenholm Jagtforening.</p>
<p>Indmeldelse i RJF, ret henvendelse til kassereren, <a href="mailto:oandreas_2000@yahoo.dk">oandreas_2000@yahoo.dk</a>  </p>]]></text>
    <title><![CDATA[Rosenholm Jagtforening]]></title>
    <links>1065</links>
    <textPage id="1058" key="2753c285-b062-42f5-8364-21bc29af0e03" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2016-12-11T15:51:41" updateDate="2016-12-11T16:01:23" nodeName="Skydebanen" urlName="skydebanen" path="-1,1057,1058" isDoc="" nodeType="1049" creatorName="Admin" writerName="Admin" writerID="0" template="1061" nodeTypeAlias="textPage">
      <text><![CDATA[<p>Nyt</p>
<p>13.02. til 19.03. skydes hver lørdag fra kl 10.<sup>00 </sup>til 14.<sup>00</sup>.</p>
<p><br />APRIL: <br />Lørdage 2., 9., 16., 23. &amp; 30. kl. 9.<sup>00</sup>- 13.<sup>00</sup> <br /><br />MAJ: <br />Alle tirsdage kl. 18.<sup>30</sup>-21.<sup>00</sup> <br /><br />JUNI &amp; JULI: <br />Alle tirsdage kl. 18.<sup>30</sup>-21.<sup>30</sup></p>
<p>AUGUST: <br />Alle tirsdage kl. 18.<sup>30</sup>-21.<sup>00</sup> <br /><br />SEPTEMBER: <br />Alle lørdag kl. 10.<sup>00</sup>-16.<sup>00</sup></p>
<p>OKTOBER: <br />Alle lørdag kl. 10.<sup><span>00</span></sup>-14.<sup><span>00</span></sup></p>
<p>NOVEMBER: <br />Alle lørdag kl. 10.<sup><span>00</span></sup>-14.<sup><span>00</span></sup></p>
<p>DECEMBER: <br />Alle lørdag frem til og med 17.12.16 kl. 10.<sup><span>00</span></sup>-14.<sup><span>00</span></sup></p>]]></text>
      <title><![CDATA[Skydebanen i Falkær]]></title>
    </textPage>
  </home>
  <componentFolder id="1064" key="2ecd7827-5b42-4db6-93b7-465958d03189" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-12-11T16:13:40" updateDate="2016-12-11T16:13:40" nodeName="Components" urlName="components" path="-1,1064" isDoc="" nodeType="1063" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="componentFolder">
    <links id="1065" key="5e6d20b3-6a68-41f1-87be-9003a3269d8d" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2016-12-11T16:13:51" updateDate="2016-12-11T16:30:20" nodeName="Links" urlName="links" path="-1,1064,1065" isDoc="" nodeType="1056" creatorName="Admin" writerName="Admin" writerID="0" template="1055" nodeTypeAlias="links">
      <link><![CDATA[[
  {
    "caption": "Jaegerforbundet",
    "link": "http://www.jaegerforbundet.dk/",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Jaegerforbundet"
  }
]]]></link>
    </links>
  </componentFolder>
</root>