$st: 15px;

.left { float:left;}
.right {float:right;}
.pad {
    padding: $st;
}
.pad-notop {
    padding: 0 $st;
}
.spacing {
    margin: $st 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.hide {
    display:none;
}

.back {
    float:right;
    display:inline-block;
    color: #fff;
    margin: 5px 0;
    padding: 5px;
    background-color: rgba(35, 95, 50, 0.9);
    text-decoration: none;
}